
body {
  margin: 0;
  background:rgb(223, 217, 217);
  color:rgb(74, 35, 110);
  font-size: 1.1em;
  line-height: 1.5;

}

h1:hover {
  color: red;

}

#header {
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

.welcome {
  text-align: center;
  font-style: italic;
  color: rgb(31, 105, 31);
}

img {
  text-align: left;
  display: inline-block;
  width: 100%;
  height:auto;
}

nav {
  margin: 0;
  padding: 3em 0;
  /*display: inline-block; */

}



nav ul {
  list-style: none;
  text-align: center;
}

ul a:hover {
  color: red;
}

.about-link a:hover {
  color: red;
}

.about-link a {
  text-decoration: none;}

.list a {
  text-decoration: none;
}

.list {
  grid-area: header;
  
}

.list ul li {
  display:inline-flex;
  padding: 5em;


}

.flex-container {
  display: flex;
  flex-direction: column;

}


.pic1 {
  text-align: left;
  padding: 1em;
  display: inline-block;
  border-radius: 5px;
  background-color: rgb(225, 222, 238);
  box-shadow: 1.5em 1.5em; 
  margin: 1em;
}

.pic2 {
  text-align: center;
  padding: 1em;
  display: inline-block;
  border-radius: 5px;
  background-color: rgb(225, 222, 238);
  box-shadow: 1.5em 1.5em; 
  margin: 1em;
}

.pic3 {
  text-align: right;
  padding: 1em;
  display: inline-block;
  border-radius: 5px;
  background-color: rgb(225, 222, 238);
  box-shadow: 1.5em 1.5em; 
  margin: 1em;
}

#header {
  min-height: 50px;
}

image {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}


.container-1 {
  display: block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  /*margin: 8px 0;*/
  border: 2px solid rgb(84, 75, 211);
  border-radius: 15px;
  margin-left: 35%;
  margin-right: 35%;
  
}

@media(min-width: 768px ) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .flex-container {
    columns: 1;
    grid-column: 1;
  }

  .list {
    margin-top: 0;
  }
  

  .pic1 {
    grid-column: 1/3;
  }

  .pic2 {
    grid-column: 2/3;
  }

  .pic3 {
    grid-column: 3/3;
  }
  

  #header {
    columns: 1;
    padding-bottom: 1em;
  }
  
  .about {
    columns: 2;
  }
  
  .facts {
    grid-column: 1/2;
    margin-right: 1em;
    margin-bottom: 5em;
   
  }

.books {
    grid-column: 2/2;
    padding: 1em;
  }

  .welcome {
    margin-bottom: 0;
  }
}



